workflows/01 - Research & Discovery (Daily 9AM).json
{
  "name": "01 - Research & Discovery (Daily 9AM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "eb7c3888-bc37-499a-9cb0-5c85062cd287",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2896,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e7e27d7d-c400-4e12-8de4-ab2d72168385",
      "name": "Set Subreddit List",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -2688,
        176
      ],
      "notes": "16 AI and marketing subreddits to monitor"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "2d0a7414-b164-457d-94ab-00c9e1e07d52",
      "name": "Split Subreddits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        176
      ]
    },
    {
      "parameters": {},
      "id": "7ba56e70-f79e-4d95-8c05-c4e3e9d4461c",
      "name": "Extract Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        176
      ]
    },
    {
      "parameters": {},
      "id": "7fb7fbee-bd9a-4e8d-b16a-fda37c0f1e88",
      "name": "Merge All Subreddit Posts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1888,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "e581e204-f2ef-4e07-8b98-0aafac9bce08",
      "name": "Filter & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        176
      ],
      "notes": "Keep only posts about prompting techniques with good engagement"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "2f19af54-f0d9-418b-8729-6c8d5b08b6b3",
      "name": "AI Technique Extractor (Groq)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1488,
        416
      ],
      "credentials": {
        "groqApi": {
          "id": "5Qkpi8VUA34eEpNa",
          "name": "Groq account"
        }
      },
      "notes": "Uses Groq to analyze posts and extract technique details"
    },
    {
      "parameters": {},
      "id": "0f9a1d42-a163-48a8-b732-0fbae04ddcc9",
      "name": "Parse & Combine Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Update trending_techniques table\nINSERT INTO trending_techniques (\n  technique_name,\n  mention_count,\n  platforms,\n  first_seen,\n  last_seen,\n  related_keywords\n)\nVALUES (\n  '{{ $json.technique_name }}',\n  1,\n  '{\"reddit\": 1}'::jsonb,\n  NOW(),\n  NOW(),\n  ARRAY[{{ $json.trending_keywords.map(k => `'${k}'`).join(',') }}]\n)\nON CONFLICT (technique_name)\nDO UPDATE SET\n  mention_count = trending_techniques.mention_count + 1,\n  platforms = trending_techniques.platforms || '{\"reddit\": 1}'::jsonb,\n  last_seen = NOW(),\n  related_keywords = ARRAY(\n    SELECT DISTINCT unnest(\n      trending_techniques.related_keywords || EXCLUDED.related_keywords\n    )\n  )\nRETURNING *;",
        "options": {}
      },
      "id": "78684c2b-a147-4b33-b63b-d4fda5b9109f",
      "name": "Update Trending Techniques DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -800,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "YpV8ILd7QmfnxU25",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "db53f0bf-5f47-422b-9434-b7122fc52a9c",
      "name": "Check for Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id FROM content_queue\nWHERE technique_name = '{{ $json.technique_name }}'\nAND created_at > NOW() - INTERVAL '30 days'\nLIMIT 1;",
        "options": {}
      },
      "id": "d356a4e2-6033-478c-946d-86f32a5c54cf",
      "name": "Query Existing Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -400,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "YpV8ILd7QmfnxU25",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a252452-d8c8-466e-94d0-bc2902a6fa0b",
      "name": "Is New Technique?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        176
      ],
      "notes": "Only proceed if technique not in DB from last 30 days"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "60ae5af7-1a86-4073-a6ca-4ab1b3fb23ab",
      "name": "Pass Original Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        0,
        64
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "content_queue",
          "mode": "list",
          "cachedResultName": "content_queue"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "technique_name": "={{ $json.all_data.technique_name }}",
            "technique_category": "={{ $json.all_data.technique_category }}",
            "source_url": "={{ $json.all_data.source_url }}",
            "source_platform": "reddit",
            "viral_score": "={{ $json.all_data.viral_score }}",
            "trending_keywords": "={{ $json.all_data.trending_keywords }}",
            "target_audience": "={{ $json.all_data.target_audience }}",
            "script_summary": "={{ $json.all_data.technique_summary }}",
            "video_style": "={{ $json.all_data.video_style }}",
            "status": "discovered",
            "estimated_duration": 15
          }
        },
        "options": {}
      },
      "id": "f3ede262-4916-4ce0-a2da-c07603bac9b1",
      "name": "Insert into Content Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        208,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "YpV8ILd7QmfnxU25",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b9af3c6a-9c69-4ab1-9c79-82e7647a9f1e",
      "name": "Count New Techniques",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        64
      ]
    },
    {
      "parameters": {
        "chatId": "${TELEGRAM_CHAT_ID}",
        "text": "=🔍 **Daily Research Complete**\n\n📊 **Statistics:**\n- Posts analyzed: {{ $('Filter & Deduplicate').all().length }}\n- Techniques extracted: {{ $('Parse & Combine Analysis').all().length }}\n- New techniques added: {{ $json.count }}\n\n⏰ Next scan: Tomorrow at 9:00 AM\n\n💡 Use /pending to review and approve new content ideas.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "08320ba4-aa54-4181-9025-1ff399bfe366",
      "name": "Send Telegram Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        64
      ],
      "webhookId": "c25ee560-bda1-4eca-9388-73e3d8280640",
      "credentials": {
        "telegramApi": {
          "id": "D7lJCLMUCRJdECZa",
          "name": "VividAiBot"
        }
      },
      "notes": "Daily summary to Telegram"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1424,
        176
      ],
      "id": "4eb0b3a9-b6ec-4051-bec8-97400d448c80",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "echo \"Hello from n8n!\" && hostname && docker ps --format \"table {{.Names}}\\t{{.Status}}\"\n"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -2224,
        592
      ],
      "id": "8de4d27c-543f-4e2a-8a46-8f8f30c43699",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "IgdtjD7Aab2APfIv",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.FIRECRAWL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"url\": \"https://old.reddit.com/r/\" + $json.subreddit + \"/hot.json?limit=25\", \"formats\": [\"markdown\"] } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "48060868-dd72-47a9-a82a-9e305a2e4ce3",
      "name": "Scrape Reddit Hot Posts1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2304,
        176
      ],
      "notes": "Uses Firecrawl API - 1 credit per request, free tier: 500 credits"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Set Subreddit List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Subreddit List": {
      "main": [
        [
          {
            "node": "Split Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Subreddits": {
      "main": [
        [
          {
            "node": "Scrape Reddit Hot Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Data": {
      "main": [
        [
          {
            "node": "Merge All Subreddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Subreddit Posts": {
      "main": [
        [
          {
            "node": "Filter & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Combine Analysis": {
      "main": [
        [
          {
            "node": "Update Trending Techniques DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Trending Techniques DB": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "Query Existing Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Existing Content": {
      "main": [
        [
          {
            "node": "Is New Technique?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Technique?": {
      "main": [
        [
          {
            "node": "Pass Original Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Original Data": {
      "main": [
        [
          {
            "node": "Insert into Content Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Content Queue": {
      "main": [
        [
          {
            "node": "Count New Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count New Techniques": {
      "main": [
        [
          {
            "node": "Send Telegram Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Deduplicate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Technique Extractor (Groq)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse & Combine Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        []
      ]
    },
    "Scrape Reddit Hot Posts1": {
      "main": [
        [
          {
            "node": "Extract Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2709fb7-1bfe-49ba-bfb4-c027ea962074",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29d8ba3a98cf8ce6120c431a1c4436041c4143693da92ebad0b6e32a3157c043"
  },
  "id": "ZXnIvdSdkHuAKTh4",
  "tags": []
}