workflows/03-video-renderer-9x16.json
{
  "name": "03 - Video Renderer 9:16 (Wavespeed + FFmpeg)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cq.*, bv.logo_url, bv.color_scheme, bv.font_primary, bv.font_secondary\nFROM content_queue cq\nLEFT JOIN branding_variants bv ON cq.branding_variant = bv.variant_name\nWHERE cq.status = 'ready_for_render'\nAND (cq.script_approved = TRUE OR cq.pillar = 'wow')\nORDER BY\n  CASE WHEN cq.content_source = 'calendar' THEN 0 ELSE 1 END,\n  cq.created_at ASC\nLIMIT 1;",
        "options": {}
      },
      "id": "get-next-video",
      "name": "Get Next Video to Render",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-n8n",
          "name": "PostgreSQL - n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-video-to-render",
      "name": "Has Video to Render?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE content_queue\nSET status = 'rendering'\nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "id": "mark-rendering",
      "name": "Mark as Rendering",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-n8n",
          "name": "PostgreSQL - n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare render data - pillar-aware\nconst row = $('Get Next Video to Render').first().json;\nconst pillar = row.pillar || 'tutorial';\n\nlet scenes;\nif (pillar === 'wow' && row.phases_json) {\n  // WOW: use phases_json (4-phase structure)\n  scenes = typeof row.phases_json === 'string' ? JSON.parse(row.phases_json) : row.phases_json;\n} else {\n  // Tutorial: use scenes_json\n  scenes = typeof row.scenes_json === 'string' ? JSON.parse(row.scenes_json) : row.scenes_json;\n}\n\nreturn [{\n  json: {\n    content_id: row.id,\n    pillar: pillar,\n    scenes: scenes,\n    script_full: row.script_full || '',\n    cta_overlay_text: row.cta_overlay_text || 'Fatto con VIVID.',\n    cta_secondary_text: row.cta_secondary_text || 'Link in bio',\n    music_mood: row.music_mood || (pillar === 'wow' ? 'cinematic_asmr' : 'energetic'),\n    hook_phrase: row.hook_phrase || '',\n    hook_type: row.hook_type || '',\n    industry: row.industry || '',\n    branding: {\n      logo_url: row.logo_url,\n      color_scheme: row.color_scheme,\n      font_primary: row.font_primary,\n      font_secondary: row.font_secondary\n    }\n  }\n}];"
      },
      "id": "prepare-render-data",
      "name": "Prepare Render Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.pillar }}",
                    "rightValue": "wow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "wow_render"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.pillar }}",
                    "rightValue": "tutorial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "tutorial_render"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check-pillar",
      "name": "Check Pillar Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://api.wavespeed.ai/v1/audio/tts",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ {\n  \"text\": $json.script_full,\n  \"voice\": \"female-1\",\n  \"model\": \"minimax-speech-02-hd\",\n  \"speed\": 1.0,\n  \"format\": \"mp3\"\n} }}",
        "options": {}
      },
      "id": "generate-voiceover",
      "name": "Generate Voiceover (Wavespeed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wavespeed-api",
          "name": "Wavespeed API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "audio_url",
              "name": "audio_url",
              "value": "={{ $json.data.audio_url }}",
              "type": "string"
            },
            {
              "id": "audio_duration",
              "name": "audio_duration",
              "value": "={{ $json.data.duration }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-audio-url",
      "name": "Extract Audio URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "operation": "download",
        "url": "={{ $json.audio_url }}",
        "options": {
          "fileName": "={{ 'voiceover_' + $('Prepare Render Data').first().json.content_id + '.mp3' }}"
        }
      },
      "id": "download-audio",
      "name": "Download Audio File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1900, 400]
    },
    {
      "parameters": {
        "fieldName": "scenes",
        "batchSize": 1
      },
      "id": "split-scenes-tutorial",
      "name": "Split Into Scenes (Tutorial)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://api.wavespeed.ai/v1/images/generate",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ {\n  \"prompt\": $json.image_prompt,\n  \"model\": \"flux-dev\",\n  \"width\": 1080,\n  \"height\": 1920,\n  \"num_outputs\": 1,\n  \"guidance_scale\": 3.5,\n  \"num_inference_steps\": 28\n} }}",
        "options": {}
      },
      "id": "generate-image-tutorial",
      "name": "Generate Image - Tutorial (Flux Dev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1700, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wavespeed-api",
          "name": "Wavespeed API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "url": "={{ $json.data.images[0] }}",
        "options": {
          "fileName": "={{ 'scene_' + $itemIndex + '.png' }}"
        }
      },
      "id": "download-image-tutorial",
      "name": "Download Scene Image (Tutorial)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1900, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT track_name, local_path\nFROM music_library\nWHERE mood = '{{ $('Prepare Render Data').first().json.music_mood || 'energetic' }}'\nORDER BY RANDOM()\nLIMIT 1;",
        "options": {}
      },
      "id": "select-music-tutorial",
      "name": "Select Music (Tutorial)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1500, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-n8n",
          "name": "PostgreSQL - n8n"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-tutorial-assets",
      "name": "Merge Tutorial Assets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2100, 450]
    },
    {
      "parameters": {
        "command": "=cd /tmp && \\\nffmpeg -y \\\n  {{ $('Prepare Render Data').first().json.scenes.map((s, i) => `-loop 1 -t ${s.duration} -i scene_${i}.png`).join(' ') }} \\\n  -i voiceover_{{ $('Prepare Render Data').first().json.content_id }}.mp3 \\\n  -i {{ $('Select Music (Tutorial)').item.json.local_path }} \\\n  -filter_complex \"\\\n    {{ $('Prepare Render Data').first().json.scenes.map((s, i) => {\n      const motion = s.motion || 'none';\n      const zoom = motion === 'medium' ? 'zoompan=z=\\'min(zoom+0.0015,1.15)\\':d=25*${s.duration}:s=1080x1920' :\n                   motion === 'subtle' ? 'zoompan=z=\\'min(zoom+0.0008,1.08)\\':d=25*${s.duration}:s=1080x1920' :\n                   'scale=1080:1920';\n      return `[${i}:v]${zoom}[v${i}]`;\n    }).join(';') }};\\\n    {{ $('Prepare Render Data').first().json.scenes.map((s, i) => `[v${i}]`).join('') }}concat=n={{ $('Prepare Render Data').first().json.scenes.length }}:v=1:a=0[vout];\\\n    [{{ $('Prepare Render Data').first().json.scenes.length }}:a]volume=1.0[voice];\\\n    [{{ $('Prepare Render Data').first().json.scenes.length + 1 }}:a]volume=0.15[music];\\\n    [voice][music]amix=inputs=2:duration=shortest[aout]\\\n  \" \\\n  -map \"[vout]\" -map \"[aout]\" \\\n  -c:v libx264 -preset medium -crf 23 \\\n  -c:a aac -b:a 192k \\\n  -pix_fmt yuv420p \\\n  -movflags +faststart \\\n  video_{{ $('Prepare Render Data').first().json.content_id }}.mp4 && \\\nls -lh video_{{ $('Prepare Render Data').first().json.content_id }}.mp4",
        "description": "Render 9:16 tutorial video with FFmpeg"
      },
      "id": "ssh-ffmpeg-tutorial",
      "name": "SSH - FFmpeg Render (Tutorial)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [2300, 450],
      "credentials": {
        "sshPassword": {
          "id": "vps-ssh",
          "name": "Contabo VPS SSH"
        }
      }
    },
    {
      "parameters": {
        "fieldName": "scenes",
        "batchSize": 1
      },
      "id": "split-scenes-wow",
      "name": "Split Into Phases (WOW)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1500, 50]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://api.wavespeed.ai/v1/images/generate",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ {\n  \"prompt\": $json.image_prompt,\n  \"model\": \"flux-dev\",\n  \"width\": 1080,\n  \"height\": 1920,\n  \"num_outputs\": 1,\n  \"guidance_scale\": 3.5,\n  \"num_inference_steps\": 28\n} }}",
        "options": {}
      },
      "id": "generate-image-wow",
      "name": "Generate Image - WOW (Flux Dev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1700, 50],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wavespeed-api",
          "name": "Wavespeed API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "url": "={{ $json.data.images[0] }}",
        "options": {
          "fileName": "={{ 'scene_' + $itemIndex + '.png' }}"
        }
      },
      "id": "download-image-wow",
      "name": "Download Phase Image (WOW)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1900, 50]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT track_name, local_path\nFROM music_library\nWHERE mood = 'cinematic_asmr'\nORDER BY RANDOM()\nLIMIT 1;",
        "options": {}
      },
      "id": "select-music-wow",
      "name": "Select Music (WOW)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1500, 150],
      "credentials": {
        "postgres": {
          "id": "postgres-n8n",
          "name": "PostgreSQL - n8n"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-wow-assets",
      "name": "Merge WOW Assets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2100, 100]
    },
    {
      "parameters": {
        "jsCode": "// Build WOW FFmpeg command with aggressive motion effects and CTA overlay\nconst data = $('Prepare Render Data').first().json;\nconst phases = data.scenes; // 4 phases: TRIGGER, IMMERSION, REVEAL, CTA\nconst contentId = data.content_id;\nconst musicPath = $('Select Music (WOW)').first().json.local_path;\nconst ctaText = (data.cta_overlay_text || 'Fatto con VIVID.').replace(/'/g, \"\\\\'\");\nconst ctaSecondary = (data.cta_secondary_text || 'Link in bio').replace(/'/g, \"\\\\'\");\n\n// Motion effect map for WOW videos\nconst motionMap = {\n  'none': (d) => `scale=1080:1920,setsar=1,zoompan=z='1':d=${d*30}:s=1080x1920:fps=30`,\n  'macro_zoom_in': (d) => `scale=2160:3840,zoompan=z='min(zoom+0.004,1.5)':x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':d=${d*30}:s=1080x1920:fps=30`,\n  'zoom_out': (d) => `scale=1620:2880,zoompan=z='if(eq(on\\\\,0)\\\\,1.5\\\\,max(zoom-0.008\\\\,1.0))':x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':d=${d*30}:s=1080x1920:fps=30`,\n  'subtle': (d) => `scale=1080:1920,zoompan=z='min(zoom+0.0005,1.03)':d=${d*30}:s=1080x1920:fps=30`,\n  'dolly_forward': (d) => `scale=1350:2400,zoompan=z='min(zoom+0.002,1.2)':x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':d=${d*30}:s=1080x1920:fps=30`,\n  'dolly_lateral': (d) => `scale=1350:2400,zoompan=z='1.05':x='iw*0.3+iw*0.1*on/${d*30}':y='ih/2-(ih/zoom/2)':d=${d*30}:s=1080x1920:fps=30`\n};\n\n// Build per-phase zoompan filters\nconst filterLines = phases.map((p, i) => {\n  const motion = p.motion || 'none';\n  const filterFn = motionMap[motion] || motionMap['none'];\n  return `[${i}:v]${filterFn(p.duration)}[v${i}]`;\n});\n\n// Build crossfade chain between phases (0.3s transitions)\nlet offset = phases[0].duration - 0.3;\nlet xfadeChain = `[v0][v1]xfade=transition=fadeblack:duration=0.3:offset=${offset.toFixed(1)}[t01]`;\noffset += phases[1].duration - 0.3;\nxfadeChain += `;[t01][v2]xfade=transition=fadeblack:duration=0.3:offset=${offset.toFixed(1)}[t012]`;\noffset += phases[2].duration - 0.3;\nxfadeChain += `;[t012][v3]xfade=transition=fadeblack:duration=0.3:offset=${offset.toFixed(1)}[vbase]`;\n\n// CTA text overlay timing (appears during CTA phase)\nconst ctaStart = phases[0].duration + phases[1].duration + phases[2].duration + 0.5;\nconst totalDur = 12;\n\nconst drawtext = `[vbase]drawtext=text='${ctaText}':fontfile=/usr/share/fonts/truetype/inter/Inter-Bold.ttf:fontsize=56:fontcolor=white:borderw=3:bordercolor=black@0.6:x=(w-text_w)/2:y=h*0.70:enable='between(t\\\\,${ctaStart}\\\\,${totalDur})',drawtext=text='${ctaSecondary}':fontfile=/usr/share/fonts/truetype/inter/Inter-Regular.ttf:fontsize=32:fontcolor=white@0.85:x=(w-text_w)/2:y=h*0.78:enable='between(t\\\\,${ctaStart + 0.5}\\\\,${totalDur})'[vout]`;\n\n// Input arguments\nconst inputArgs = phases.map((p, i) => `-loop 1 -t ${p.duration} -i scene_${i}.png`).join(' ');\n\n// Audio: music only (no voiceover), with fade in/out\nconst audioFilter = `[${phases.length}:a]afade=t=in:st=0:d=0.5,afade=t=out:st=${totalDur-1.5}:d=1.5,atrim=duration=${totalDur}[aout]`;\n\nconst cmd = `cd /tmp && ffmpeg -y ${inputArgs} -i \"${musicPath}\" -filter_complex \"${filterLines.join(';')};${xfadeChain};${drawtext};${audioFilter}\" -map \"[vout]\" -map \"[aout]\" -c:v libx264 -preset medium -crf 20 -c:a aac -b:a 192k -pix_fmt yuv420p -t ${totalDur} -movflags +faststart wow_${contentId}.mp4 && ls -lh wow_${contentId}.mp4`;\n\nreturn [{ json: { command: cmd, filename: `wow_${contentId}.mp4`, pillar: 'wow' } }];"
      },
      "id": "build-wow-ffmpeg",
      "name": "Build WOW FFmpeg Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 100]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}",
        "description": "Render 12s WOW video with aggressive motion + CTA overlay"
      },
      "id": "ssh-ffmpeg-wow",
      "name": "SSH - FFmpeg Render (WOW)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [2500, 100],
      "credentials": {
        "sshPassword": {
          "id": "vps-ssh",
          "name": "Contabo VPS SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Determine the correct filename based on pillar\nconst data = $('Prepare Render Data').first().json;\nconst pillar = data.pillar || 'tutorial';\nconst contentId = data.content_id;\n\nconst filename = pillar === 'wow'\n  ? `wow_${contentId}.mp4`\n  : `video_${contentId}.mp4`;\n\nreturn [{ json: { filename, pillar, content_id: contentId } }];"
      },
      "id": "prepare-transfer",
      "name": "Prepare Transfer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 300]
    },
    {
      "parameters": {
        "command": "=scp contabo:/tmp/{{ $json.filename }} /var/www/videos/ && \\\nssh contabo \"rm /tmp/{{ $json.filename }} /tmp/scene_*.png /tmp/voiceover_*.mp3 2>/dev/null; true\"",
        "description": "Transfer video to web directory"
      },
      "id": "transfer-video",
      "name": "Transfer Video to Storage",
      "type": "n8n-nodes-base.bash",
      "typeVersion": 1,
      "position": [2900, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "video_url",
              "name": "video_url",
              "value": "=http://213.199.55.206/videos/{{ $('Prepare Transfer').first().json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-video-url",
      "name": "Build Video URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE content_queue\nSET video_url = '{{ $json.video_url }}',\n    music_track_id = '{{ $('Select Music (WOW)').first().json.track_name || $('Select Music (Tutorial)').first().json.track_name }}',\n    status = 'video_pending_approval',\n    rendered_at = NOW()\nWHERE id = {{ $('Prepare Render Data').first().json.content_id }}\nRETURNING *;",
        "options": {}
      },
      "id": "update-database",
      "name": "Update Database with Video",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [3300, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-n8n",
          "name": "PostgreSQL - n8n"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendVideo",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "video",
              "value": "={{ $('Build Video URL').item.json.video_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Prepare Render Data').first().json.pillar === 'wow' ? '\\ud83c\\udfac WOW VIDEO READY\\n\\n\\ud83c\\udff7\\ufe0f ' + $('Prepare Render Data').first().json.hook_type + ' (' + $('Prepare Render Data').first().json.industry + ')\\n\\ud83c\\udfaf ' + $('Prepare Render Data').first().json.hook_phrase + '\\n\\u23f1\\ufe0f 12s | No voiceover | ASMR + Music\\n\\nContent ID: ' + $('Prepare Render Data').first().json.content_id : '\\ud83c\\udfac VIDEO READY FOR REVIEW\\n\\n\\ud83d\\udcdd Script: ' + $('Get Next Video to Render').item.json.technique_name + '\\n\\ud83c\\udfb5 Music: ' + ($('Select Music (Tutorial)').first().json.track_name || 'N/A') + '\\n\\nContent ID: ' + $('Prepare Render Data').first().json.content_id }}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({\n  inline_keyboard: [[\n    { text: '\\u2705 Approve & Publish', callback_data: 'approve_video_' + $('Prepare Render Data').first().json.content_id },\n    { text: '\\u274c Reject', callback_data: 'reject_video_' + $('Prepare Render Data').first().json.content_id }\n  ]]\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-video-approval",
      "name": "Send Video for Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3500, 300]
    }
  ],
  "connections": {
    "Every 3 Hours": {
      "main": [
        [
          {
            "node": "Get Next Video to Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Video to Render": {
      "main": [
        [
          {
            "node": "Has Video to Render?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Video to Render?": {
      "main": [
        [
          {
            "node": "Mark as Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Rendering": {
      "main": [
        [
          {
            "node": "Prepare Render Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render Data": {
      "main": [
        [
          {
            "node": "Check Pillar Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pillar Type": {
      "main": [
        [
          {
            "node": "Split Into Phases (WOW)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select Music (WOW)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Voiceover (Wavespeed)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Into Scenes (Tutorial)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select Music (Tutorial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Phases (WOW)": {
      "main": [
        [
          {
            "node": "Generate Image - WOW (Flux Dev)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image - WOW (Flux Dev)": {
      "main": [
        [
          {
            "node": "Download Phase Image (WOW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Phase Image (WOW)": {
      "main": [
        [
          {
            "node": "Split Into Phases (WOW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Music (WOW)": {
      "main": [
        [
          {
            "node": "Merge WOW Assets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge WOW Assets": {
      "main": [
        [
          {
            "node": "Build WOW FFmpeg Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WOW FFmpeg Command": {
      "main": [
        [
          {
            "node": "SSH - FFmpeg Render (WOW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - FFmpeg Render (WOW)": {
      "main": [
        [
          {
            "node": "Prepare Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voiceover (Wavespeed)": {
      "main": [
        [
          {
            "node": "Extract Audio URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Merge Tutorial Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Scenes (Tutorial)": {
      "main": [
        [
          {
            "node": "Generate Image - Tutorial (Flux Dev)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image - Tutorial (Flux Dev)": {
      "main": [
        [
          {
            "node": "Download Scene Image (Tutorial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Scene Image (Tutorial)": {
      "main": [
        [
          {
            "node": "Split Into Scenes (Tutorial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Music (Tutorial)": {
      "main": [
        [
          {
            "node": "Merge Tutorial Assets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Tutorial Assets": {
      "main": [
        [
          {
            "node": "SSH - FFmpeg Render (Tutorial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - FFmpeg Render (Tutorial)": {
      "main": [
        [
          {
            "node": "Prepare Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Transfer": {
      "main": [
        [
          {
            "node": "Transfer Video to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer Video to Storage": {
      "main": [
        [
          {
            "node": "Build Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Video URL": {
      "main": [
        [
          {
            "node": "Update Database with Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database with Video": {
      "main": [
        [
          {
            "node": "Send Video for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-11T12:00:00.000Z",
  "versionId": "2"
}
